# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

src/Debug/
src/MFCDia/Debug/
src/Release/
src/MFCDia/Release/
src/MFCDia.sdf
src/MFCDia.suo
src/MFCDia/MFCDia.vcxproj.user
src/MFCDia.opensdf
*.ipch
*.aps
